body{
	background-color:rgba(204,244,255,0.1);
}
header{
	line-height: 60px;
	background-color: rgba(241,241,241);
	text-align: center;
	//font-size: 30px;
}
div{
	width: 1400px;
}
.tabs {
	width: 400`px;
	margin: 10px auto;
	border: 1px solid #eee;
	box-sizing: border-box;

}
.tabs nav {
	height: 40px;
	text-align: center;
	line-height: 40px;
	overflow: hidden;
	//background-color: #06f;
	display: flex;
}
nav a{
	display: block;
	width: 100px;
	border-right: 1px solid #eee;
	//color: #fff;
	text-decoration: none;
	background-color: #06f;
	border-radius:15px;
}
nav a:hover {
	color:#fff;
	text-decoration: none;
	background-color: rgba(0,255,196);
}
nav a:last-child {
	border-right: 0 none;
}
nav a.active {
	background: #0f6;
	color: #fff;
	text-decoration: none;
}
.cont {
	overflow: hidden;
	display: none;
}
.cont ul {
	line-height: 50px;
}
a {
	color:blue;
	font-size:20px;
	text-decoration:none;
	/*超链接无下划线*/
}
.gnb a:hover {
	color:#fff;
	text-decoration: none;
	background-color: rgba(0,255,196);
}
.gnb a {
	margin:15px;
	//list-style:none;
	//position:relative;
}
.other li a{
	margin-left:15px;
}
.other li a:hover{
	color:#fff;
	background-color: rgba(0,255,196);
   }

   .divider-with-text {
    position: relative;
    font-size: 16px; /* 调整文字大小 */
    margin: 20px 0; /* 上下边距 */
    overflow: hidden;
    text-align: center;
}
