<style type="text/css">
#T_caf97 th {
  text-align: center;
}
#T_caf97  td {
  text-align: center;
}
#T_caf97_row0_col0, #T_caf97_row0_col1, #T_caf97_row0_col2, #T_caf97_row0_col3, #T_caf97_row0_col4, #T_caf97_row0_col5, #T_caf97_row0_col6, #T_caf97_row0_col7, #T_caf97_row0_col8, #T_caf97_row7_col0, #T_caf97_row7_col1, #T_caf97_row7_col2, #T_caf97_row7_col3, #T_caf97_row7_col4, #T_caf97_row7_col5, #T_caf97_row7_col6, #T_caf97_row7_col7, #T_caf97_row7_col8, #T_caf97_row9_col0, #T_caf97_row9_col1, #T_caf97_row9_col2, #T_caf97_row9_col3, #T_caf97_row9_col4, #T_caf97_row9_col5, #T_caf97_row9_col6, #T_caf97_row9_col7, #T_caf97_row9_col8 {
  background-color: red;
}
#T_caf97_row1_col0, #T_caf97_row1_col1, #T_caf97_row1_col2, #T_caf97_row1_col3, #T_caf97_row1_col4, #T_caf97_row1_col5, #T_caf97_row1_col6, #T_caf97_row1_col7, #T_caf97_row1_col8, #T_caf97_row2_col0, #T_caf97_row2_col1, #T_caf97_row2_col2, #T_caf97_row2_col3, #T_caf97_row2_col4, #T_caf97_row2_col5, #T_caf97_row2_col6, #T_caf97_row2_col7, #T_caf97_row2_col8, #T_caf97_row3_col0, #T_caf97_row3_col1, #T_caf97_row3_col2, #T_caf97_row3_col3, #T_caf97_row3_col4, #T_caf97_row3_col5, #T_caf97_row3_col6, #T_caf97_row3_col7, #T_caf97_row3_col8, #T_caf97_row4_col0, #T_caf97_row4_col1, #T_caf97_row4_col2, #T_caf97_row4_col3, #T_caf97_row4_col4, #T_caf97_row4_col5, #T_caf97_row4_col6, #T_caf97_row4_col7, #T_caf97_row4_col8, #T_caf97_row5_col0, #T_caf97_row5_col1, #T_caf97_row5_col2, #T_caf97_row5_col3, #T_caf97_row5_col4, #T_caf97_row5_col5, #T_caf97_row5_col6, #T_caf97_row5_col7, #T_caf97_row5_col8, #T_caf97_row8_col0, #T_caf97_row8_col1, #T_caf97_row8_col2, #T_caf97_row8_col3, #T_caf97_row8_col4, #T_caf97_row8_col5, #T_caf97_row8_col6, #T_caf97_row8_col7, #T_caf97_row8_col8, #T_caf97_row10_col0, #T_caf97_row10_col1, #T_caf97_row10_col2, #T_caf97_row10_col3, #T_caf97_row10_col4, #T_caf97_row10_col5, #T_caf97_row10_col6, #T_caf97_row10_col7, #T_caf97_row10_col8 {
  background-color: yellow;
}
</style>
<table id="T_caf97">
  <thead>
    <tr>
      <th class="blank level0" >&nbsp;</th>
      <th id="T_caf97_level0_col0" class="col_heading level0 col0" >device_name</th>
      <th id="T_caf97_level0_col1" class="col_heading level0 col1" >user_email</th>
      <th id="T_caf97_level0_col2" class="col_heading level0 col2" >user_sg</th>
      <th id="T_caf97_level0_col3" class="col_heading level0 col3" >serial_number</th>
      <th id="T_caf97_level0_col4" class="col_heading level0 col4" >location</th>
      <th id="T_caf97_level0_col5" class="col_heading level0 col5" >extra_comment</th>
      <th id="T_caf97_level0_col6" class="col_heading level0 col6" >hw_audit</th>
      <th id="T_caf97_level0_col7" class="col_heading level0 col7" >not_installed_days</th>
      <th id="T_caf97_level0_col8" class="col_heading level0 col8" >last_installed_tl</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_caf97_level0_row0" class="row_heading level0 row0" >41</th>
      <td id="T_caf97_row0_col0" class="data row0 col0" >AEQZ AirScale MAA 32T32R 192AE n78 200W</td>
      <td id="T_caf97_row0_col1" class="data row0 col1" >andy.zhang@nokia-sbell.com</td>
      <td id="T_caf97_row0_col2" class="data row0 col2" >NSB MN RAN RD VRF HAZ4 4</td>
      <td id="T_caf97_row0_col3" class="data row0 col3" >1M203907049</td>
      <td id="T_caf97_row0_col4" class="data row0 col4" >Dongxin B | L2F-RAN | SW Lab | 2II01</td>
      <td id="T_caf97_row0_col5" class="data row0 col5" >TL not in use and powered off</td>
      <td id="T_caf97_row0_col6" class="data row0 col6" >Yes, Active Device</td>
      <td id="T_caf97_row0_col7" class="data row0 col7" >23</td>
      <td id="T_caf97_row0_col8" class="data row0 col8" >7_5_UTE5G402T599(gNB)</td>
    </tr>
    <tr>
      <th id="T_caf97_level0_row1" class="row_heading level0 row1" >83</th>
      <td id="T_caf97_row1_col0" class="data row1 col0" >AVQC Radio with Integration Kit</td>
      <td id="T_caf97_row1_col1" class="data row1 col1" >andy.zhang@nokia-sbell.com</td>
      <td id="T_caf97_row1_col2" class="data row1 col2" >NSB MN RAN RD VRF HAZ4 4</td>
      <td id="T_caf97_row1_col3" class="data row1 col3" >1M242100014</td>
      <td id="T_caf97_row1_col4" class="data row1 col4" >Dongxin E | L1F | OTA | 08</td>
      <td id="T_caf97_row1_col5" class="data row1 col5" >[2024-08-20] Andy: PR783938 under checking</td>
      <td id="T_caf97_row1_col6" class="data row1 col6" >Yes, Active Device</td>
      <td id="T_caf97_row1_col7" class="data row1 col7" >12</td>
      <td id="T_caf97_row1_col8" class="data row1 col8" >7_5_UTE5G402T617(gNB)</td>
    </tr>
    <tr>
      <th id="T_caf97_level0_row2" class="row_heading level0 row2" >120</th>
      <td id="T_caf97_row2_col0" class="data row2 col0" >AOSD</td>
      <td id="T_caf97_row2_col1" class="data row2 col1" >zhichao.shu@nokia-sbell.com</td>
      <td id="T_caf97_row2_col2" class="data row2 col2" >NSB MN RAN RD VRF HAZ4 4</td>
      <td id="T_caf97_row2_col3" class="data row2 col3" >2000228990142</td>
      <td id="T_caf97_row2_col4" class="data row2 col4" ></td>
      <td id="T_caf97_row2_col5" class="data row2 col5" >TL not use and powered off</td>
      <td id="T_caf97_row2_col6" class="data row2 col6" >Yes, Active Device</td>
      <td id="T_caf97_row2_col7" class="data row2 col7" >11</td>
      <td id="T_caf97_row2_col8" class="data row2 col8" >7_5_UTE5G401T605_vDU(gNB)</td>
    </tr>
    <tr>
      <th id="T_caf97_level0_row3" class="row_heading level0 row3" >190</th>
      <td id="T_caf97_row3_col0" class="data row3 col0" >HP640</td>
      <td id="T_caf97_row3_col1" class="data row3 col1" >andy.zhang@nokia-sbell.com</td>
      <td id="T_caf97_row3_col2" class="data row3 col2" >NSB MN RAN RD VRF HAZ4 4</td>
      <td id="T_caf97_row3_col3" class="data row3 col3" >5CG7153DHJ</td>
      <td id="T_caf97_row3_col4" class="data row3 col4" >Dongxin B | L2F-RAN | SW Lab | 2IH11</td>
      <td id="T_caf97_row3_col5" class="data row3 col5" >None</td>
      <td id="T_caf97_row3_col6" class="data row3 col6" >Yes, Active Device</td>
      <td id="T_caf97_row3_col7" class="data row3 col7" >7</td>
      <td id="T_caf97_row3_col8" class="data row3 col8" >7_5_UTE5G402T577</td>
    </tr>
    <tr>
      <th id="T_caf97_level0_row4" class="row_heading level0 row4" >349</th>
      <td id="T_caf97_row4_col0" class="data row4 col0" >ASIB AirScale Common</td>
      <td id="T_caf97_row4_col1" class="data row4 col1" >andy.zhang@nokia-sbell.com</td>
      <td id="T_caf97_row4_col2" class="data row4 col2" >NSB MN RAN RD VRF HAZ4 4</td>
      <td id="T_caf97_row4_col3" class="data row4 col3" >DH214543979</td>
      <td id="T_caf97_row4_col4" class="data row4 col4" >Dongxin A | L1F | A | D09</td>
      <td id="T_caf97_row4_col5" class="data row4 col5" >[20240815] zhendong chen: 25R2-CB011104 new feature test</td>
      <td id="T_caf97_row4_col6" class="data row4 col6" >Yes, Active Device</td>
      <td id="T_caf97_row4_col7" class="data row4 col7" >13</td>
      <td id="T_caf97_row4_col8" class="data row4 col8" >7_5_UTE5G402T308(gNB)</td>
    </tr>
    <tr>
      <th id="T_caf97_level0_row5" class="row_heading level0 row5" >352</th>
      <td id="T_caf97_row5_col0" class="data row5 col0" >ABIO AirScale Capacity</td>
      <td id="T_caf97_row5_col1" class="data row5 col1" >andy.zhang@nokia-sbell.com</td>
      <td id="T_caf97_row5_col2" class="data row5 col2" >NSB MN RAN RD VRF HAZ4 4</td>
      <td id="T_caf97_row5_col3" class="data row5 col3" >DH214941790</td>
      <td id="T_caf97_row5_col4" class="data row5 col4" >Dongxin A | L1F | A | D09</td>
      <td id="T_caf97_row5_col5" class="data row5 col5" >[20240815] zhendong chen: 25R2-CB011104 new feature test</td>
      <td id="T_caf97_row5_col6" class="data row5 col6" >Yes, Active Device</td>
      <td id="T_caf97_row5_col7" class="data row5 col7" >13</td>
      <td id="T_caf97_row5_col8" class="data row5 col8" >7_5_UTE5G402T308(gNB)</td>
    </tr>
    <tr>
      <th id="T_caf97_level0_row6" class="row_heading level0 row6" >366</th>
      <td id="T_caf97_row6_col0" class="data row6 col0" >AQQY AirScale MAA 32T32R 128AE n78 240W</td>
      <td id="T_caf97_row6_col1" class="data row6 col1" >andy.zhang@nokia-sbell.com</td>
      <td id="T_caf97_row6_col2" class="data row6 col2" >NSB MN RAN RD VRF HAZ4 4</td>
      <td id="T_caf97_row6_col3" class="data row6 col3" >DH233082813</td>
      <td id="T_caf97_row6_col4" class="data row6 col4" >Dongxin E | L1F Storage | 17 | 2</td>
      <td id="T_caf97_row6_col5" class="data row6 col5" >None</td>
      <td id="T_caf97_row6_col6" class="data row6 col6" >Yes, Active Device</td>
      <td id="T_caf97_row6_col7" class="data row6 col7" >6</td>
      <td id="T_caf97_row6_col8" class="data row6 col8" >None</td>
    </tr>
    <tr>
      <th id="T_caf97_level0_row7" class="row_heading level0 row7" >400</th>
      <td id="T_caf97_row7_col0" class="data row7 col0" >AHPB AirScale RRH 4T4R B28 320W</td>
      <td id="T_caf97_row7_col1" class="data row7 col1" >andy.zhang@nokia-sbell.com</td>
      <td id="T_caf97_row7_col2" class="data row7 col2" >NSB MN RAN RD VRF HAZ4 4</td>
      <td id="T_caf97_row7_col3" class="data row7 col3" >EA204457634</td>
      <td id="T_caf97_row7_col4" class="data row7 col4" >Dongxin B | L2F-RAN | SW Lab | 2II02</td>
      <td id="T_caf97_row7_col5" class="data row7 col5" >TL not in use and powered off</td>
      <td id="T_caf97_row7_col6" class="data row7 col6" >Yes, Active Device</td>
      <td id="T_caf97_row7_col7" class="data row7 col7" >23</td>
      <td id="T_caf97_row7_col8" class="data row7 col8" >7_5_UTE5G402T599(eNB)</td>
    </tr>
    <tr>
      <th id="T_caf97_level0_row8" class="row_heading level0 row8" >431</th>
      <td id="T_caf97_row8_col0" class="data row8 col0" >AOSD</td>
      <td id="T_caf97_row8_col1" class="data row8 col1" >zhichao.shu@nokia-sbell.com</td>
      <td id="T_caf97_row8_col2" class="data row8 col2" >NSB MN RAN RD VRF HAZ4 4</td>
      <td id="T_caf97_row8_col3" class="data row8 col3" >FR214014942</td>
      <td id="T_caf97_row8_col4" class="data row8 col4" ></td>
      <td id="T_caf97_row8_col5" class="data row8 col5" >TL not use and powered off</td>
      <td id="T_caf97_row8_col6" class="data row8 col6" >Yes, Active Device</td>
      <td id="T_caf97_row8_col7" class="data row8 col7" >11</td>
      <td id="T_caf97_row8_col8" class="data row8 col8" >7_5_UTE5G401T605_vDU(gNB)</td>
    </tr>
    <tr>
      <th id="T_caf97_level0_row9" class="row_heading level0 row9" >561</th>
      <td id="T_caf97_row9_col0" class="data row9 col0" >AHPB AirScale RRH 4T4R B28 320W</td>
      <td id="T_caf97_row9_col1" class="data row9 col1" >andy.zhang@nokia-sbell.com</td>
      <td id="T_caf97_row9_col2" class="data row9 col2" >NSB MN RAN RD VRF HAZ4 4</td>
      <td id="T_caf97_row9_col3" class="data row9 col3" >K9224138871</td>
      <td id="T_caf97_row9_col4" class="data row9 col4" >Dongxin B | L2F-RAN | SW Lab | 2II03</td>
      <td id="T_caf97_row9_col5" class="data row9 col5" >TL not in use and powered off</td>
      <td id="T_caf97_row9_col6" class="data row9 col6" >Yes, Active Device</td>
      <td id="T_caf97_row9_col7" class="data row9 col7" >23</td>
      <td id="T_caf97_row9_col8" class="data row9 col8" >7_5_UTE5G402T599(eNB)</td>
    </tr>
    <tr>
      <th id="T_caf97_level0_row10" class="row_heading level0 row10" >932</th>
      <td id="T_caf97_row10_col0" class="data row10 col0" >AOSD</td>
      <td id="T_caf97_row10_col1" class="data row10 col1" >zhichao.shu@nokia-sbell.com</td>
      <td id="T_caf97_row10_col2" class="data row10 col2" >NSB MN RAN RD VRF HAZ4 4</td>
      <td id="T_caf97_row10_col3" class="data row10 col3" >VF203700406</td>
      <td id="T_caf97_row10_col4" class="data row10 col4" ></td>
      <td id="T_caf97_row10_col5" class="data row10 col5" >TL not use and powered off</td>
      <td id="T_caf97_row10_col6" class="data row10 col6" >Yes, Active Device</td>
      <td id="T_caf97_row10_col7" class="data row10 col7" >11</td>
      <td id="T_caf97_row10_col8" class="data row10 col8" >7_5_UTE5G401T605_vDU(gNB)</td>
    </tr>
  </tbody>
</table>
