<style type="text/css">
#T_30650 th {
  text-align: center;
}
#T_30650  td {
  text-align: center;
}
</style>
<table id="T_30650">
  <thead>
    <tr>
      <th class="blank level0" >&nbsp;</th>
      <th id="T_30650_level0_col0" class="col_heading level0 col0" >device_name</th>
      <th id="T_30650_level0_col1" class="col_heading level0 col1" >user_email</th>
      <th id="T_30650_level0_col2" class="col_heading level0 col2" >user_sg</th>
      <th id="T_30650_level0_col3" class="col_heading level0 col3" >serial_number</th>
      <th id="T_30650_level0_col4" class="col_heading level0 col4" >location</th>
      <th id="T_30650_level0_col5" class="col_heading level0 col5" >extra_comment</th>
      <th id="T_30650_level0_col6" class="col_heading level0 col6" >hw_audit</th>
      <th id="T_30650_level0_col7" class="col_heading level0 col7" >not_installed_days</th>
      <th id="T_30650_level0_col8" class="col_heading level0 col8" >last_installed_tl</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_30650_level0_row0" class="row_heading level0 row0" >123</th>
      <td id="T_30650_row0_col0" class="data row0 col0" >AOSD</td>
      <td id="T_30650_row0_col1" class="data row0 col1" >andy.zhang@nokia-sbell.com</td>
      <td id="T_30650_row0_col2" class="data row0 col2" >NSB MN RAN RD VRF HAZ4 4</td>
      <td id="T_30650_row0_col3" class="data row0 col3" >2000228990142</td>
      <td id="T_30650_row0_col4" class="data row0 col4" ></td>
      <td id="T_30650_row0_col5" class="data row0 col5" >None</td>
      <td id="T_30650_row0_col6" class="data row0 col6" >Yes, Active Device</td>
      <td id="T_30650_row0_col7" class="data row0 col7" >5</td>
      <td id="T_30650_row0_col8" class="data row0 col8" >7_5_UTE5G401T605_vDU(gNB)</td>
    </tr>
    <tr>
      <th id="T_30650_level0_row1" class="row_heading level0 row1" >252</th>
      <td id="T_30650_row1_col0" class="data row1 col0" >AWHHF AirScale Micro RRH 4T4R n41 80W</td>
      <td id="T_30650_row1_col1" class="data row1 col1" >jie.2.li@nokia-sbell.com</td>
      <td id="T_30650_row1_col2" class="data row1 col2" >NSB MN RAN RD VRF HAZ4 4</td>
      <td id="T_30650_row1_col3" class="data row1 col3" >AH221640520</td>
      <td id="T_30650_row1_col4" class="data row1 col4" >Dongxin A | L1F | A | I03</td>
      <td id="T_30650_row1_col5" class="data row1 col5" >None</td>
      <td id="T_30650_row1_col6" class="data row1 col6" >Yes, Active Device</td>
      <td id="T_30650_row1_col7" class="data row1 col7" >4</td>
      <td id="T_30650_row1_col8" class="data row1 col8" >7_5_UTE5G402T1003(gNB)</td>
    </tr>
    <tr>
      <th id="T_30650_level0_row2" class="row_heading level0 row2" >393</th>
      <td id="T_30650_row2_col0" class="data row2 col0" >ABIL AirScale Capacity</td>
      <td id="T_30650_row2_col1" class="data row2 col1" >jie.2.li@nokia-sbell.com</td>
      <td id="T_30650_row2_col2" class="data row2 col2" >NSB MN RAN RD VRF HAZ4 4</td>
      <td id="T_30650_row2_col3" class="data row2 col3" >EA194050679</td>
      <td id="T_30650_row2_col4" class="data row2 col4" >Dongxin A | L1F | A | I02</td>
      <td id="T_30650_row2_col5" class="data row2 col5" >None</td>
      <td id="T_30650_row2_col6" class="data row2 col6" >Yes, Active Device</td>
      <td id="T_30650_row2_col7" class="data row2 col7" >4</td>
      <td id="T_30650_row2_col8" class="data row2 col8" >7_5_UTE5G402T729(gNB)</td>
    </tr>
    <tr>
      <th id="T_30650_level0_row3" class="row_heading level0 row3" >432</th>
      <td id="T_30650_row3_col0" class="data row3 col0" >AOSD</td>
      <td id="T_30650_row3_col1" class="data row3 col1" >zhichao.shu@nokia-sbell.com</td>
      <td id="T_30650_row3_col2" class="data row3 col2" >NSB MN RAN RD VRF HAZ4 4</td>
      <td id="T_30650_row3_col3" class="data row3 col3" >FR214014942</td>
      <td id="T_30650_row3_col4" class="data row3 col4" ></td>
      <td id="T_30650_row3_col5" class="data row3 col5" >None</td>
      <td id="T_30650_row3_col6" class="data row3 col6" >Yes, Active Device</td>
      <td id="T_30650_row3_col7" class="data row3 col7" >5</td>
      <td id="T_30650_row3_col8" class="data row3 col8" >7_5_UTE5G401T605_vDU(gNB)</td>
    </tr>
    <tr>
      <th id="T_30650_level0_row4" class="row_heading level0 row4" >921</th>
      <td id="T_30650_row4_col0" class="data row4 col0" >AOSD</td>
      <td id="T_30650_row4_col1" class="data row4 col1" >xiangying.dai@nokia-sbell.com</td>
      <td id="T_30650_row4_col2" class="data row4 col2" >NSB MN RAN RD VRF HAZ4 4</td>
      <td id="T_30650_row4_col3" class="data row4 col3" >VF203700406</td>
      <td id="T_30650_row4_col4" class="data row4 col4" ></td>
      <td id="T_30650_row4_col5" class="data row4 col5" >None</td>
      <td id="T_30650_row4_col6" class="data row4 col6" >Yes, Active Device</td>
      <td id="T_30650_row4_col7" class="data row4 col7" >5</td>
      <td id="T_30650_row4_col8" class="data row4 col8" >7_5_UTE5G401T605_vDU(gNB)</td>
    </tr>
  </tbody>
</table>
