<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Site</title>
    <!--    <link href="static/images/onebit_15.png" rel="icon" type="image/x-ico">-->
    <link href="mysite_static/images/onebit_15.png" rel="icon" type="image/x-ico">
    <link type="text/css" rel="stylesheet" media="all" href="mysite_static/css/mysite.css?v=5.0" charset="UTF-8">

    <!-- <script>
        window.difyChatbotConfig = {
            token: 'ZUegNcFbWLWs7DIe',
            baseUrl: 'http://10.70.224.24'
        }
    </script>
    <script src="http://10.70.224.24/embed.min.js" id="ZUegNcFbWLWs7DIe" defer
        onload="console.log('embed.min.js loaded');" onerror="console.error('Failed to load embed.min.js');">
        </script> -->
    <script type="text/javascript" src="mysite_static/js/mysite.js?v=18.0" defer
        onload="console.log('mysite.js loaded');" onerror="console.error('Failed to load mysite.js');"></script>

</head>

<body>
    <header>
        <h1>mysite</h1>
    </header>
    <div class="tabs">
        <nav>
            <a href="javascript:;" data-cont="gNB" class="active">gNB</a>
            <a href="javascript:;" data-cont="eNB">eNB</a>
            <a href="javascript:;" data-cont="vran">Cloud</a>
            <!-- <a href="javascript:;" data-cont="HW">HW</a> -->
            <a href="javascript:;" data-cont="Jenkins">Jenkins</a>
            <a href="javascript:;" data-cont="update">update</a>
            <!-- <a href="javascript:;" data-cont="Tools">Tools</a> -->
        </nav>
        <section class="cont" id="gNB">
            <div class="gnb-area" id="gnb1">
                <!-- <h4>gnb</h4> -->
                <ul class="gnb">
                    {% for i in testline_list %}
                    <a href=https://{{i[1]}} title="Owner: {{i[3]}}" target="_blank">{{i[0]}}</a>
                    {% endfor %}
                </ul>
            </div>
            <!-- <h4>VRAN</h4>
            <div class="gnb-area" id="gnb1">
                <ul class="gnb">
                    {% for i in testline_list %}
                    <a href=https://{{i[1]}} title="{{i[1]}}" target="_blank">{{i[0]}}</a>
                    {% endfor %}
                </ul>
            </div> -->
        </section>
        <section class="cont" id="eNB">
            <ul class="gnb">
                {% for i in testline_list %}
                {% if i[2]!="" %}
                <a href=https://{{i[2]}} title="Owner: {{i[3]}}" target="_blank">{{i[0]}}</a>
                {% endif %}
                {% endfor %}
            </ul>
        </section>
        <section class="cont" id="Jenkins">
            <ul class="other">
                <li>
                    <a href="https://nok.it/j7li_jenkins/" title="http://10.101.43.144:8080/"
                        target="_blank">https://nok.it/j7li_jenkins</a>
                </li>
                <li>
                    <a href="https://nok.it/j7li_mysite" title="https://nok.it/j7li_mysite"
                        target="_blank">https://nok.it/j7li_mysite</a>
                </li>
            </ul>
        </section>
        <section class="cont" id="Tools">
            <ul class="other">
                <li>
                    <a href="https://nokia.sharepoint.com/:x:/r/sites/5GRAN/_layouts/15/Doc.aspx?sourcedoc=%7B44F8A524-9642-41C4-8A23-4411515EF1CA%7D&file=TestEnvironment_5GPZ_HZ_SG4.xlsx&wdLOR=c64B4467F-3777-4354-9FF4-3BC9208755D2&action=default&mobileredirect=true&cid=80ae58c1-aa30-4ef1-a5c2-3413880568cb"
                        title="TestEnvironment_5GPZ_HZ_SG4.xlsx" target="_blank">TestEnvironment_5GPZ_HZ_SG4.xlsx</a>
                </li>
                <li>
                    <a href="https://nokia.sharepoint.com/:x:/r/sites/5GRANPZQTCIManagement/_layouts/15/Doc.aspx?sourcedoc=%7BEC6AE1F6-5157-4BE0-B965-18BBB99BE573%7D&file=SG04_HW%26TL_information.xlsx&action=default&mobileredirect=true"
                        title="硬件信息表-广迪" target="_blank">硬件信息表-广迪</a>
                </li>

                <li>
                    <a href="https://jiradc.ext.net.nokia.com/secure/StructureBoard.jspa?s=%7B%22sQuery%22%3A%7B%22query%22%3A%22summary%20~%20%5C%22CB007331*%5C%22%20and%20type%20in%20(%5C%22System%20Item%5C%22)%22%2C%22type%22%3A%22jql%22%7D%7D#"
                        title="https://jiradc.ext.net.nokia.com/" target="_blank">jiradc</a>
                </li>

                <li><a href="https://10.70.230.76" title="https://10.70.230.76" target="_blank">DCAP1</a></li>

                <li><a href="https://10.70.230.77" title="https://10.70.230.77" target="_blank">DCAP2</a></li>

                <li><a href="https://artifactory-hz1.int.net.nokia.com/artifactory/mn5gran_hzlog-local/"
                        title="mn5gran_hzlog-local" target="_blank">mn5gran_hzlog-local</a></li>
                <li>
                    <a href="https://nokia.sharepoint.com/:x:/r/sites/BTSConfigurations/_layouts/15/Doc.aspx?sourcedoc=%7BA880F145-D815-4881-A5E7-7D4439ACE320%7D&file=SBTS_supported_cell_sets_SRAN17_onward.xlsb&action=default&mobileredirect=true"
                        title="SBTS supported cell sets SRAN17 onward" target="_blank">SBTS supported cell sets SRAN17
                        onward</a>
                </li>
                <li><a href="http://10.157.182.187/#/" title="NGenerator" target="_blank">NGenerator</a></li>
            </ul>
        </section>
        <section class="cont" id="vran">
            <ul class="other">
                <li>
                    <a href="https://10.57.160.137" title="https://10.57.160.137" target="_blank">TL605-VCU</a>
                    <a href="https://10.71.220.154" title="https://10.71.220.154" target="_blank">TL605-VDU</a>
                    <a href="https://10.71.220.70" title="https://10.71.220.70" target="_blank">TL605-FHGW</a>
                    <a href="https://10.71.219.132" title="https://10.71.219.132" target="_blank">TL605-OCP</a>
                    <a href="https://10.71.213.108" title="https://10.71.213.108" target="_blank">TL605-LTE</a>
                </li>
                <li>
                    <a href="https://10.57.165.11" title="https://10.57.165.11" target="_blank">TL607-VCU</a>
                    <a href="https://10.64.161.90" title="https://10.64.161.90" target="_blank">TL607-VDU</a>
                    <a href="https://10.64.161.50" title="https://10.64.161.50" target="_blank">TL607-FHGW</a>
                    <a href="https://10.0.178.177" title="https://10.0.178.177" target="_blank">TL607-OCP</a>
                    <a href="https://10.71.212.162" title="https://10.71.212.162" target="_blank">TL607-LTE</a>
                </li>
                <li>
                    <a href="https://10.57.173.7" title="https://10.57.173.7" target="_blank">TL608-VCU</a>
                    <a href="https://10.64.161.130" title="https://10.64.161.130" target="_blank">TL608-VDU</a>
                    <a href="https://10.64.161.52" title="https://10.64.161.52" target="_blank">TL608-FHGW</a>
                    <a href="https://10.0.178.178" title="https://10.0.178.178" target="_blank">TL608-OCP</a>
                    <a href="https://10.71.212.163" title="https://10.71.212.163" target="_blank">TL608-LTE</a>
                </li>
                <li>
                    <a href="https://10.57.160.134" title="https://10.57.160.134" target="_blank">TL37302-VCU</a>
                    <a href="https://10.64.173.90" title="https://10.64.173.90" target="_blank">TL37202-VDU</a>
                    <a href="https://10.64.169.38" title="https://10.64.169.38" target="_blank">TL37202-OCP</a>
                    <a href="https://10.71.212.162" title="the same as TL607" target="_blank">TL37202-LTE</a>
                </li>
                <li>
                    <a href="https://10.57.187.132" title="https://10.57.187.132" target="_blank">TL618-VCU</a>
                    <a href="https://10.0.179.242" title="https://10.0.179.242" target="_blank">TL618-VDU</a>
                    <a href="https://10.64.167.130" title="https://10.64.167.130" target="_blank">TL618-OCP</a>
                </li>
                <li>
                    <a href="https://nokia-my.sharepoint.com/:x:/g/personal/jie_2_li_nokia-sbell_com/EZ69Ep5-ft5EkLMw6Sfs0AoBHMOkh6wUqxBR-x4F3Cfi1Q?e=yDUroR"
                        title="规划" target="_blank">规划</a>
                </li>
                <li>
                    <a href="https://nokia-my.sharepoint.com/:p:/g/personal/jie_2_li_nokia-sbell_com/EVUZfHmng89PtC_I9yQcOpcBKoDvJcdrGydrCE4pQhK6EA?e=6KioKq"
                        title="拓扑图" target="_blank">拓扑图</a>
                </li>
                <li>
                    <a href="https://telco-cloud-automation-solution.telcoblr.nsn-rdnet.net/" title="自动升级OCP"
                        target="_blank">TCAS</a>
                </li>
                <li>
                    <a href="https://10.101.54.5/job/TesterOperateCases/job/vDU_Tenant_User_Creation/"
                        title="ocp_post_configuraiton" target="_blank">ocp_post_configuraiton</a>
                </li>

            </ul>
        </section>
        <!-- <section class="cont" id="HW">
            <ul class="other">
                <button id="UpdateHWComparison">Update HW Comparison</button>
            </ul>
        </section> -->
        <section class="cont" id="update">
            <ul class="other">
                <button id="TestLineList">update testline list</button>
            </ul>
        </section>
    </div>
</body>

</html>